body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #ccd6f6;
    font-family: 'Oswald', 'sans-serif';
}

/* STACK TopBar above .page */
.body {
    display: flex;
    flex-direction: column;   /* ← stack vertically */
    height: 100vh;
    margin: 0;
}

/* let .page fill remaining space and scroll */
.page {
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 74px;
}