body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0a192f; /* Set the background color for the whole page */
    color: #ccd6f6; /* Set a default text color */
    font-family: 'Oswald', 'sans-serif';
}

.body {
    display: flex;
    height: 100vh;      /* fill viewport */
    margin: 0;
}

.page {
    margin-left: 400px;  /* same as sidebar width */
    padding: 2rem 1rem;
}