@inherits LayoutComponentBase

<div class="body">
    <div class="topbar">
        <TopBar />
    </div>

    <div class="page">
        <article class="content p-4">
            @Body
        </article>
    </div>
</div>
