@inject NavigationManager Nav

<nav class="sidebar">

    <div class="sidebar-header mb-4">
        <h2>Zack LaCanna</h2>
        <p>Software Engineer</p>
    </div>

    <ul class="nav-links">
        <li>
            <a href="#about">
                <i class="fa-regular fa-user"></i>
                <span class="link-text">About</span>
            </a>
        </li>
        <li>
            <a href="#experience">
                <i class="fa-regular fa-briefcase"></i>
                <span class="link-text">Experience</span>
            </a>
        </li>
        <li>
            <a href="#work">
                <i class="fa-regular fa-code"></i>
                <span class="link-text">Projects</span>
            </a>
        </li>
        <li>
            <a href="#contact">
                <i class="fa-regular fa-envelope"></i>
                <span class="link-text">Contact</span>
            </a>
        </li>
    </ul>

    <div class="social-icons">
        <a href="https://www.linkedin.com/in/zacklacanna" target="_blank" aria-label="LinkedIn">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://github.com/zacklacanna" target="_blank" aria-label="GitHub">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="mailto:zacklacanna23@gmail.com" aria-label="Email">
            <i class="fa-regular fa-envelope"></i>
        </a>
    </div>
</nav>



@code {
    
}