@inject NavigationManager Nav

<nav class="sidebar d-flex flex-column p-3">
    <a href="#" class="logo-icon">Z</a>

    <div class="sidebar-header mb-4">
        <h2>Zack La Canna</h2>
        <p>Software Engineer</p>
    </div>

    <ul class="nav-links">
        <li class="mb-3">
            <a href="#about">
                <i class="fas fa-user"></i>
                <span class="link-text">About</span>
            </a>
        </li>
        <li class="mb-3">
            <a href="#experience">
                <i class="fa-regular fa-briefcase"></i>
                <span class="link-text">Experience</span>
            </a>
        </li>
        <li class="mb-3">
            <a href="#work">
                <i class="fa-regular fa-code"></i>
                <span class="link-text">Projects</span>
            </a>
        </li>
        <li class="mb-3">
            <a href="#contact">
                <i class="fa-regular fa-envelope"></i>
                <span class="link-text">Contact</span>
            </a>
        </li>
    </ul>

    <div class="social-icons d-flex justify-content-around mt-4">
        <a href="https://www.linkedin.com/in/zacklacanna" target="_blank" aria-label="LinkedIn">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://github.com/zacklacanna" target="_blank" aria-label="GitHub">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="mailto:zacklacanna23@gmail.com" aria-label="Email">
            <i class="fa-regular fa-envelope"></i>
        </a>
    </div>
</nav>



@code {
    
}