@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject ZackV2.Services.StaticAssetVersionService Assets
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="preload" as="image" href="@Assets.Versioned("zack-profile.png")"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="@Assets.Versioned("app.css")"/>
    <link rel="stylesheet" href="@Assets.Versioned("ZackV2.styles.css")"/>
    <link rel="icon" type="image/x-icon" href="@Assets.Versioned("favicon.ico")" />
    <HeadOutlet/>
</head>

<body>
    <Routes @rendermode=RenderMode.InteractiveServer />
    <script defer src="https://kit.fontawesome.com/b235c568eb.js" crossorigin="anonymous"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
