@using ZackV2.Components.Layout

@page "/"

<PageTitle>Zack LaCanna</PageTitle>

<div class="content">
    
    <div class="intro" aria-label="intro">
        
    </div>

    <div class="about" aria-label="about">

    </div>

    <div class="experience" aria-label="experience">
        <Experience></Experience>
    </div>

    <div class="contact" aria-label="contact">

    </div>
    
</div>

@code {
    
}
