@using ZackV2.Components.Layout

@page "/"

<PageTitle>Zack LaCanna</PageTitle>

<div class="content">

    <div id="about" class="about mb-2" aria-label="about">
        <!-- … your About content … -->
    </div>

    <div id="experience" class="experience mb-2" aria-label="experience">
        <Experience />
    </div>

    <div id="projects" class="projects mb-2" aria-label="projects">
        <!-- … your Contact content … -->
    </div>
    
    <div id="contact" class="contact" aria-label="contact">
        <!-- … your Contact content … -->
    </div>
    
</div>

@code {
    
}
